<!doctype html>
<html lang="en" class="fullscreen-bg">

<head>
	<title>Login | Klorofil - Free Bootstrap Dashboard Template</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	  <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body>
		<header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Anasayfa <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="Competitions">Yarışmalar</a>
            </li>
               <li class="nav-item">
              <a class="nav-link" href="Members">Üyeler</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="admin/login/">Oturum Aç</a>
            </li>  
          </ul>
        </div>
      </nav>
    </header>

	<!-- WRAPPER -->
	<div class="container" style="padding-top: 80px">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box ">
					<div class="left">
						<div class="content">
							<div class="header">
								<div class="logo text-center"></div>
								<p class="lead"><h4>Yarışmacı - Kayıt Ol</h4></p>
								<hr>
							</div>
							<form class="form-auth-small" action="/registerSend" method="post">
								{% csrf_token %}
								<div class="form-group">
									<label for="signin-email" class="control-label sr-only">TC No</label>
									<input name ="RegisterTcNo" type="tc" class="form-control" id="signin-email" value="" placeholder="Tc Kimlik No">
								</div>
									<div class="form-group">
									<label for="signin-email" class="control-label sr-only">Ad</label>
									<input name ="RegisterName" type="name" class="form-control" id="signin-email" value="" placeholder="Ad">
								</div>
									<div class="form-group">
									<label for="signin-email" class="control-label sr-only">Soyad</label>
									<input name="RegisterSurname"type="surname" class="form-control" id="signin-email" value="" placeholder="Soyad">
								</div>
									<div class="form-group">
									<label for="signin-email" class="control-label sr-only">Okul</label>
									<input name="RegisterSchool" type="school" class="form-control" id="signin-email" value="" placeholder="Okul">
								</div>
									<div class="form-group">
									<label for="signin-email" class="control-label sr-only">Bölüm</label>
									<input name="RegisterFaculty" type="faculty" class="form-control" id="signin-email" value="" placeholder="Bölüm">
								</div>
								<div class="form-group clearfix">
								</div>
								<button type="submit" class="btn btn-primary btn-lg btn-block">Kayıt Ol</button>
							</form>
						</div>
					</div>
			
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
</body>

</html>
